/* cairo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cairo-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* crushed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crushed';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/crushed-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin: center;
  border: 0;
  font-family: "Cairo", 'cairo', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.815rem;
  font-family: "Crushed", 'crushed', Helvetica, Arial, sans-serif;
  color: #B96624;
}

h2 {
  font-size: 3.052rem;
  font-family: "Crushed", 'crushed', Helvetica, Arial, sans-serif;
}

p {
  font-size: 1rem;
  font-family: "Cairo", 'Cairo', Helvetica, Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

/* CSS Grid Container */
.gridContainer {
  display: grid;
  border: 4px #ee6e05;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  gap: 10px;
  padding: 10px;
}

/* CSS Grid Items */
.box {
  background-color: #6eb314;
  color: #131c98;
  border-radius: 5px;
  border: 4px #B96624;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  display: flex;
  gap: 10px;
  border: 4px solid #B96624;
}

.box img {
  width: 150px;
  height: auto;
  boarder-radius: 5x;
}

.movie-description {
  background-color: #131C98;
  color: #6EB314;
  padding: 8px;
  border: 4px #ee6e05;
  border-radius: 5px;
  font-size: 1rem;
   border: 4px solid #B96624;
}

.movie-description {
  background-color: #131C98;
  color: #6EB314;
  padding: 8px;
  border: 4px #ee6e05;
  border-radius: 5px;
  font-size: 1rem;
  border: 4px solid #B96624;
}

.movie-commonality {
  background-color: #B96624;
  color: #131C98;
  padding: 8px;
  border: 4px #ee6e05;
  border-radius: 5px;
  font-size: 1rem;
  border: 4px solid #6EB314;
}

/* THIS IS MY COMMENT */

html {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1036%26quot%3b)'%3e%3c/rect%3e%3cpath d='M437.9298161575389 137.09870221968242L381.1311862024478 69.40873091627357 313.441214899039 126.20736087136463 370.23984485413 193.89733217477348z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-15.45 242.42 a164.54 164.54 0 1 0 329.08 0 a164.54 164.54 0 1 0 -329.08 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M441.762%2c657.168C488.394%2c657.422%2c532.516%2c636.123%2c557.445%2c596.712C584.266%2c554.311%2c590.886%2c501.646%2c568.553%2c456.719C543.572%2c406.465%2c497.831%2c366.38%2c441.762%2c363.991C381.843%2c361.438%2c321.173%2c391.208%2c294.765%2c445.054C270.525%2c494.481%2c296.884%2c550.215%2c328.241%2c595.463C354.534%2c633.404%2c395.602%2c656.916%2c441.762%2c657.168' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1170.72 204.25 a106.92 106.92 0 1 0 213.84 0 a106.92 106.92 0 1 0 -213.84 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-31.36 349.77 a173.02 173.02 0 1 0 346.04 0 a173.02 173.02 0 1 0 -346.04 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M484.4983858529894 330.74901767238657L586.104069128245 312.83319431764016 568.1882457734986 211.2275110423846 466.58256249824296 229.14333439713099z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M979.2558020518699 163.6739042960544L1066.1842648017534 163.67390429605436 1066.1842648017534 76.74544154617088 979.2558020518699 76.7454415461709z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M223.148%2c411.553C257.885%2c411.294%2c294.154%2c402.121%2c312.154%2c372.41C330.703%2c341.793%2c327.718%2c301.862%2c307.499%2c272.322C289.437%2c245.933%2c255.127%2c242.279%2c223.148%2c242.371C191.393%2c242.463%2c157.763%2c246.733%2c139.637%2c272.807C118.989%2c302.509%2c113.156%2c342.763%2c131.811%2c373.756C150.023%2c404.013%2c187.834%2c411.817%2c223.148%2c411.553' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M886.76 184.59 a169.59 169.59 0 1 0 339.18 0 a169.59 169.59 0 1 0 -339.18 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M644.484311622046 382.2445589412005L759.6750667268484 408.83844020663395 786.2689479922818 293.6476851018316 671.0781928874794 267.0538038363982z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1446.11370461114 268.79621687507716L1270.8794447802368 299.5225794295239 1368.7509264717542 420.3837938762508z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1473.833437101957 582.3409975873728L1444.3132593822138 471.74871478011875 1372.3362130614673 541.2561404558325z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M613.148%2c483.171C662.314%2c487.088%2c717.615%2c474.618%2c741.055%2c431.222C763.819%2c389.079%2c738.204%2c340.388%2c711.891%2c300.365C688.829%2c265.286%2c655.044%2c239.342%2c613.148%2c236.669C565.779%2c233.647%2c512.694%2c244.583%2c489.868%2c286.199C467.563%2c326.866%2c491.655%2c373.996%2c516.262%2c413.312C538.902%2c449.485%2c570.609%2c479.782%2c613.148%2c483.171' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1154.616831165056 150.20522995077658L1202.9044845434992 90.57494409798701 1089.3152290750932 47.95860695671709z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M358.4655457866098 132.84300518360436L361.2581698032527 212.81329384814404 479.8172907917408 168.6392134909098z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M993.123%2c215.253C1009.46%2c215.785%2c1025.391%2c208.963%2c1034.263%2c195.234C1043.952%2c180.242%2c1047.415%2c160.745%2c1038.247%2c145.429C1029.268%2c130.429%2c1010.605%2c126.543%2c993.123%2c126.503C975.552%2c126.463%2c956.171%2c129.861%2c947.643%2c145.224C939.273%2c160.302%2c946.985%2c178.233%2c956.378%2c192.696C964.768%2c205.615%2c977.727%2c214.751%2c993.123%2c215.253' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1299.0624600193762-2.0215186965678176L1192.2620235830107-5.751072118980169 1188.5324701605982 101.04936431738537 1295.3329065969638 104.77891773979772z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1036'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(31%2c 160%2c 54%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
