/* cairo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cairo-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* crushed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crushed';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/crushed-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

p {
  font-size: 1rem;
}

h1,
h2 {
  text-align: center;
}

/* CSS Grid Container */
.gridContainer {
  display: grid;
  border: 4px gray solid;
  border-radius: 5px;
  width: 400px;
 height: 500px;
  
}

/* CSS Grid Items */
.box {
  background-color: dodgerblue;
  color: black;
  border-radius: 5px;
  border: 4px royalblue solid;
}
